language: go
go:
  - 1.9.x
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - 1.13.x
  - tip
env:
  - GO111MODULE=on
install:
  - go get -v golang.org/x/lint/golint
script:
  - golint -set_exit_status .
  - go test -v -race .
matrix:
  allow_failures:
    - go: tip
notifications:
    email: false
